{% extends "layouts/master.html" %}
{% block module %} Rent Now {% endblock %}
{% block content %}

    <div class="col-xl-12">
        <div class="card mb-12">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Rent NOw
            </div>
            <div class="card-body">
                <form id="addForm">

                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputTittle" type="text" placeholder="Title here" />
                        <label for="inputTittle">Book Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputGenre" type="text" placeholder="Separate with |" />
                        <label for="inputGenre">Genre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputCast" type="text" placeholder="Separate with |" />
                        <label for="inputGenre">Cast</label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputAmount" type="number" min=1 max="9999" />
                                <label for="inputAmount">Amount</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputqty" type="number" min=1 max="9999"/>
                                <label for="inputqty">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><a class="btn btn-success btn-block"  id="save-button">Register Book</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}

{% endblock %}