    <li class="nav-header">Core</li>
    <li class="nav-item">
        <a href="{{ url_for('dashboards.dashboad_index')}}" class="nav-link">
           <i class="nav-icon fas fa-tachometer-alt"></i>
           <p>
            Dashboard
            <span class="right badge badge-danger">New</span>
        </p>
    </a>
</li>
<li class="nav-header">DATA</li>
<li class="nav-item">
    <a href="{{ url_for('books.books_index')}}" class="nav-link">
      <i class="nav-icon far fa-image"></i>
      <p>
        Books
    </p>
</a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-copy"></i>
      <p>
        Status
        <i class="fas fa-angle-left right"></i>
        <!-- <span class="badge badge-info right">6</span> -->
    </p>
</a>
<ul class="nav nav-treeview">
<!--   <li class="nav-item">
    <a href="pages/layout/top-nav.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Requested</p>
  </a>
</li> -->
<li class="nav-item">
    <a href="{{ url_for('status.status_rented')}}" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Rented</p>
  </a>
</li>


<!-- <li class="nav-item">
    <a href="pages/layout/boxed.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Returned</p>
  </a>
</li> -->


</ul>
</li>
<li class="nav-header">Setting</li>
<li class="nav-item">
    <a href="{{ url_for('users.user_index')}}" class="nav-link">
      <i class="nav-icon far fa-image"></i>
      <p>
        Customer
    </p>
</a>
</li>

<!-- 
<li class="nav-item">
    <a href="pages/gallery.html" class="nav-link">
      <i class="nav-icon far fa-image"></i>
      <p>
        History
    </p>
</a>
</li> -->
