{% extends "layouts/master.html" %}
{% block module %} Dashboard {% endblock %}
{% block crump %} Dashboard {% endblock %}



{% block content %}

        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>₱ {{today}}</h3>

                <p>Today Sales</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>₱ {{wek}}</h3>

                <p>Weekly Sales</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>₱ {{mont}}</h3>

                <p>Monthly Sale</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{users | length}}</h3>

                <p>Total Active Customers</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
          <div class="row">
          <section class="col-lg-5 connectedSortable">

          </section>

          <section class="col-lg-7 connectedSortable">

          </section>
         
        </div>

{% endblock %}

{% block script %}


{% endblock %}